{{#if post.imageurl}}
  <img src="/images/{{post.imageurl}}" alt="{{post.imagetitle}}" class="post__image"/>
{{/if}}
{{#unless this.isHome}}
  <h1 class="post__header">{{post.posttitle}}</h1>
  <h3 class="post__date">{{post.creationdate}}</h3>
  <h5 class="post__category">{{post.categoryname}}</h5>

{{/unless}}
<div class="post__body">{{{post.postbody}}}</div>
