{{#if post.live}}
  <img src="/images/{{post.imageurl}}" alt="{{post.imagetitle}}" class="post__image"/>
  {{#unless this.isHome}}
    <p class="post__date">{{post.creationdate}}</p>
    <p class="post__category">{{post.categoryname}}</p>
    <h1 class="post__header">{{post.posttitle}}</h1>
  {{/unless}}
  <div class="post__body">{{{post.postbody}}}</div>
{{/if}}
