<section class="container">
  <h4 class="title">Editing: {{post.posttitle}}</h4>

  <form class="edit" action="/edit/{{post.postid}}" method="post">
    <!-- Hidden Post ID -->
    <input type="text" name="postid" value="{{post.postid}}" hidden />
    <!-- Triggers /images route-->
    <button class="edit__feature-image-btn button button--blue button--free-width">Select Image</button>
    <!-- Triggers /images route-->
    <button class="edit__clear-image-btn">-</button>
    <!-- Outputs Image url -->
    <input type="text" class="edit__feature-image-input" name="imageurl" value="{{post.imageurl}}" hidden />
    <!-- Output Image -->
    <img class="edit__feature-image-output" src="/images/{{post.imageurl}}"/>

    <!--Title-->
    <label for="edit__title-input" class="edit__label">Title</label>
      <input type="text" class="edit__text-input" name="posttitle" id="edit__title-input" value="{{post.posttitle}}" required/>

    <!-- Category Select -->
    <label for="categoryname" class="edit__label">Category</label>
    <select class="select" name="categoryname">
      {{#each categories}}
        <option class="select__option" {{#select this ../post.categoryname}}{{/select}}>{{this}}</option>
      {{/each}}
    </select>

    <!-- Body -->
    <label for="postbody" class="edit__label">Post</label>
    <div class="edit__post-container">
      <!-- Triggers /images route-->
      <button class="edit__add-image-btn button button--blue button--free-width">Add Image</button>
      <!-- Markdown syntax -->
      <textarea name="postbody" class="edit__post-body">{{post.postbody}}</textarea>
      <!-- Outputs HTML -->
      <div class="edit__post-body-output" style="display: none;"></div>
      <!-- Triggers markdown route, takes edit__post-body value, makes xmthttprequest, then -->
      <button class="edit__preview-btn button button--black">Preview</button>
    </div>

    <div class="edit__actions">
      <!-- Submit-->
      <input class="edit__submit button button--white" type="submit" />

      <!-- Delete-->
      {{#unless post.homepost}}
        <a class="edit__delete-post" href="/delete/{{post.postid}}">delete</a>
      {{/unless}}

    </div>


  </form>
</section>

<!-- images -->
<div class="images images--hidden">
  <div class="images__gallery">
  </div>
  <input type='text' class='images__selected-title images__selected-title--purple'/>
  <div class="images__button-container">
    <button class="images__back-btn images__btn button button--grey">Back</button>
    <label for="file" class="images__btn images__upload-label button button--blue">Upload</label>
      <input style="display: none;" name="file" id="file" class="images__upload-btn" type="file" accept="image/*"/>
    <button class="images__select-btn images__btn button button--green" disabled>Select</button>
  </div>
</div>

<script src="/js/customise-post.js"></script>
