<form class="edit" action="/edit/{{postid}}" method="post">
  <!-- Output Image -->
  <img class="edit__image" src="{{imageurl}}"/>
  <!-- Triggers /images route-->
  <button class="edit__image-button">Select Image</button>
    <!-- Outputs Image url -->
    <input class="edit__image-input" name="image-url" placeholder="{{imageurl}}" disabled />
  <label for="edit__title-input" class="edit__title-label">Title</label>
    <input class="edit__title-input" name="title" id="edit__title-input" value="{{posttitle}}" required/>
  <!-- Triggers /images route-->
  <button class="edit__add-image-button">Add Image</button>
  <!-- Outputs markdown syntax -->
  <textarea class="edit__post-body">{{postbody}}</textarea>
  <!-- Triggers markdown route -->
  <button class="edit__preview-button">Preview</button>
</form>
