<section class="container">
  <h2 class="title">Editing: {{post.posttitle}}</h2>

  <form class="edit" action="/edit/{{post.postid}}" method="post">
    <!-- Hidden Post ID -->
    <input type="text" name="postid" value="{{post.postid}}" hidden />
    <!-- Triggers /images route-->
    <button class="edit__image-button">Select Image</button>
    <!-- Outputs Image url -->
    <input type="text" class="edit__image-input" name="imageurl" value="{{post.imageurl}}" hidden />
    <!-- Output Image -->
    <img class="edit__image" src="/images/{{post.imageurl}}"/>

    <!--Title-->
    <label for="edit__title-input" class="edit__title-label">Title</label>
      <input type="text" class="edit__title-input" name="title" id="edit__title-input" value="{{post.posttitle}}" required/>

    <!-- Category Select -->
    <label for="categoryname" class="edit__category-label">Category</label>
    <select class="edit__category" name="categoryname">
      {{#each categories}}
        <option class="edit__category-option" {{#select this ../post.categoryname}}{{/select}}>{{this}}</option>
      {{/each}}
    </select>

    <!-- Body -->
    <label for="postbody" class="edit__post-body-label">Post</label>
    <div class="edit__post-container">
      <!-- Triggers /images route-->
      <button class="edit__add-image-button">Add Image</button>
      <!-- Markdown syntax -->
      <textarea name="postbody" class="edit__post-body">{{post.postbody}}</textarea>
      <!-- Outputs HTML -->
      <div class="edit__post-body-output" style="display: none;"></div>
      <!-- Triggers markdown route, takes edit__post-body value, makes xmthttprequest, then -->
      <button class="edit__preview-button">Preview</button>
    </div>

    <!-- Submit-->
    <input class="edit__submit" type="submit" />
  </form>
</section>

<!-- images -->
<div class="images images--hidden">
  <div class="images__container">
  </div>
  <div class="images__button-container">
    <button class="button button__back button--grey">Back</button>
    <button class="button button__upload button--blue">Upload</button>
    <button class="button button__select button--green">Select</button>
  </div>
</div>

<script src="/js/imagepanel.js"></script>
