<section class="container">
  <h4 class="title">Editing: {{post.posttitle}}</h4>

  <form class="edit" action="/edit/{{post.posturi}}" method="post">
    <!-- Hidden Post URI -->
    <input type="text" name="posturi" value="{{post.posturi}}" hidden />
    <!-- Triggers /images route-->
    <button class="edit__feature-image-btn button button--blue button--free-width">Select Image</button>
    <!-- Triggers /images route-->
    <button class="edit__clear-image-btn">-</button>
    <!-- Outputs Image url -->
    <input type="text" class="edit__feature-image-input" name="imageurl" value="{{post.imageurl}}" hidden />
    <!-- Output Image -->
    <img class="edit__feature-image-output" src="/image/{{post.imageurl}}"/>

    <!-- No ability to edit home post title and category -->

    <!-- Hide-div if home -->
    {{#if post.homepost}}<div style="display: none;">{{/if}}

      <!--Title-->
      <label for="edit__title-input" class="edit__label" {{#if post.homepost}} style="display: none;" {{/if}}>Title</label>
        <input type="text" class="edit__text-input" name="posttitle" id="edit__title-input" value="{{post.posttitle}}" required/>

      <!-- Category Select -->
      <label for="categoryname" class="edit__label">Category</label>
      <select class="select" name="categoryname" {{#if post.homepost}} hidden {{else}} required{{/if}}/>
        {{#each categories}}
          <option class="select__option" {{#select this ../post.categoryname}}{{/select}}>{{this}}</option>
        {{/each}}
      </select>

      <!-- Live -->
      <label for="live" class="edit__label edit__label--toggle">Live
        <input id="live" class="edit__live-checkbox" type="checkbox" name="live" {{#if post.homepost}} checked {{else if post.live}}checked{{/if}}/>
      </label>

    <!-- Close-home hide div -->
    {{#if post.homepost}}</div>{{/if}}

    <!-- Post Body Area-->
    <label for="postbody" class="edit__label">Add Some Words</label>
    <div class="edit__post-container">

      <!-- Button container -->
      <div class="edit__post-mods">
        <!-- Triggers /images route-->
        <button class="edit__add-image-btn button button--blue button--free-width button--inline-block">Add Image</button>
        <!-- Triggers markdown route, takes edit__post-body value, makes xmthttprequest, then -->
        <button class="edit__preview-btn button button--black button--free-width button--inline-block">Preview</button>
      </div>

      <!-- Markdown syntax -->
      <textarea name="postbody" class="edit__post-body">{{post.postbody}}</textarea>
      <!-- Outputs HTML -->
      <div class="edit__post-body-output" style="display: none;"></div>

    </div>

    <!-- Actions -->
    <div class="edit__actions">
      <!-- Submit-->
      <input class="button button--white button--inline-block button--action" type="submit" />

      <!-- Delete-->
      {{#unless post.homepost}}
        <a class="button button--red button--inline-block button--right button--action" href="/delete/{{post.posturi}}">delete</a>
      {{/unless}}

    </div>


  </form>
</section>

<!-- images -->
<div class="images images--hidden">
  <!-- Output gallery content here -->
  <div class="images__gallery">
  </div>
  <!-- Changes alt attribute -->
  <input type='text' class='images__selected-title images__selected-title--purple'/>
  <!-- Buttons container -->
  <div class="images__button-container">
    <!--Back (triggers close) -->
    <button class="images__back-btn images__btn button button--grey">Back</button>
    <!--Triggers file input-->
    <label for="file" class="images__btn images__upload-label button button--blue">Upload</label>
      <input style="display: none;" name="file" id="file" class="images__upload-btn" type="file" accept="image/*"/>
      <!-- enabled when image selected -->
    <button class="images__select-btn images__btn button button--green" disabled>Select</button>
  </div>
</div>

<script src="/js/main.js"></script>
