<section class="container">
  <div class="post">
    <!-- Image -->
    {{#if post.imageurl}}
      <img src="/image/{{post.imageurl}}" alt="{{post.imagetitle}}" class="post__image"/>
    {{/if}}
    <!-- Heading Container -->
    <div class="post__heading">
      <!-- Title -->
      <h1 class="post__header">{{post.posttitle}}</h1>
      <!-- Date -->
      <h5 class="post__date">{{post.creationdate}}</h5>
    </div>

    <!-- Body -->
    <div class="post__body">{{{post.postbody}}}</div>
  </div>

  <!-- Edit -->
  {{#if credentials.current_user}}
    <a class="button button--black button--action" href="/edit/{{post.posturi}}">Edit</a>
  {{/if}}
</section>
