<section class="container">
  <div class="post">
    <!-- Image -->
    {{#if post.imageurl}}
      <img src="/images/{{post.imageurl}}" alt="{{post.imagetitle}}" class="post__image"/>
    {{/if}}
    <!-- Title -->
    <h1 class="post__header">{{post.posttitle}}</h1>
    <!-- Date -->
    <h4 class="post__date">{{post.creationdate}}</h4>
    <!-- Body -->
    <div class="post__body">{{{post.postbody}}}</div>
  </div>
  
  <!-- Edit -->
  {{#if credentials.current_user}}
    <a class="button button--black button--action" href="/edit/{{post.postid}}">Edit</a>
  {{/if}}
</section>
